<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>Human</title>
    </head>

    <body>
        <p th:text="${'Name: ' + person.name}">VALUE</p>
        <p th:text="${'Id: ' + person.id}">VALUE</p>
        <p th:text="${'Age: ' + person.age}">VALUE</p>
        <p th:text="${'Email: ' + person.email}">VALUE</p>

        <a th:href="@{/people/{id}/edit(id=${person.id})}">Edit</a>

        <form th:method="DELETE" th:action="@{/people/{id}(id=${person.id})}">
            <input type="submit" value="Delete"/>
        </form>
    </body>
</html>